        body {
            width: 100%;
            height: 100%;
            margin: auto;
            /* background-image: url(../img/house.jpg); */
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100%;
            font-family: 'Lato', sans-serif;
        }
        /* NAV BAR CSS*/
        
        .logo {
            height: 114px;
            padding-left: 106px;
            padding-top: 30px;
        }
        
        .web-name {
            position: relative;
            left: -2%;
            margin-top: -6%;
            font-family: cursive;
            font-size: 29px;
            /* padding-left: 9%; */
            text-align: center;
            font-weight: bolder;
            color: #6d5115;
        }
        
        .top {
            background-color: rgb(255, 255, 255);
            width: 100%;
            height: 177px;
            box-shadow: inset 0 0 10px #b2b2b2e6
        }
        
        .down {
            background-color: rgb(148, 117, 117);
            position: absolute;
            height: 19vh;
            width: 100vw;
            margin: -10px;
            top: 70vh;
        }
        
        .topnav {
            position: absolute;
            right: 28%;
            top: 122px;
            font-size: 18px;
        }
        
        .hr-top {
            border-top: 1px solid rgb(141, 101, 15);
            width: 50%;
            position: relative;
            top: 17%;
        }
        
        .navItem {
            padding: 38px;
        }
        
        #house {
            padding: 5px;
            width: 101%;
        }
        
        .navItem a {
            text-decoration: none;
            font-family: initial;
            font-size: 19px;
            color: black;
            text-shadow: -1px 1px #9f9f9f82;
        }
        
        .navItem a:hover {
            background-color: #946d14;
            color: rgb(12, 12, 12);
            color: rgb(218, 209, 209);
            transform: scale(1.2);
            text-shadow: none;
        }
        
        .about {
            text-align: center;
        }
        /*---------------------------------------------------------------------*/
        /* .header {
    padding: 1px;
    text-align: center;
    background: #a0a0a0;
    color: rgb(255, 255, 255);
    font-size: 5px;
} */
        
        label {
            display: block;
            font: 1rem 'Fira Sans', sans-serif;
        }
        
        input,
        label {
            margin: 30rem 0;
            float: right;
        }
        
        #house-img {
            width: 100%;
            height: 810px;
        }
        
        * {
            box-sizing: border-box
        }
        
        body {
            font-family: Verdana, sans-serif;
        }
        
        .mySlides {
            display: none
        }
        
        img {
            vertical-align: middle;
        }
        
        label {
            display: block;
            font: 1rem 'Fira Sans', sans-serif;
        }
        
        input,
        label {
            margin: .4rem 0;
        }
        /* Slideshow container */
        
        .slideshow-container {
            /* max-width: 1470px; */
            position: relative;
            margin: auto;
        }
        
        .container {
            position: relative;
            font-family: Arial;
        }
        
        .text-block {
            position: absolute;
            left: 240px;
            color: rgb(0, 0, 0);
            padding-left: 20px;
            padding-right: 24px;
            height: 42%;
            background: rgb(255 255 255 / 78%);
        }
        /* The dots/bullets/indicators */
        
        .dot {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
        
        .active {
            background-color: red;
        }
        /* ----------------- FAQ page --------------------*/
        
        .accordion {
            background-color: #e1d7c0d1;
            color: rgb(0, 0, 0);
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 20px;
            transition: 0.4s;
        }
        
        .active,
        .accordion:hover {
            background-color: #e1d7c0d1;
        }
        
        .accordion:after {
            content: '\002B';
            color: rgb(0, 0, 0);
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }
        
        .active:after {
            content: "\2212";
        }
        
        .panel {
            padding: 0 18px;
            display: none;
            background-color: white;
            overflow: hidden;
        }
        
        .container-reviews {
            order: 1px solid #626262;
            background-color: #9b885f6e;
            border-radius: 5px;
            padding: 17px;
            margin: 16px 0;
            width: 40%;
            margin-left: 31%;
        }
        
        .container-reviews::after {
            content: "";
            clear: both;
            display: table;
        }
        
        .container-reviews img {
            float: left;
            margin-right: 13px;
            width: 28%;
            border-radius: 61%;
        }
        
        .container-reviews span {
            font-size: 20px;
            margin-right: 15px;
        }
        
        @media (max-width: 500px) {
            .container {
                text-align: center;
            }
            .container-reviews img {
                margin: auto;
                float: none;
                display: block;
            }
        }
        /* Fading animation */
        
        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
        }
        
        @keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }
        
        .form {
            position: relative;
            margin-top: 69%;
            left: -17px;
        }
        
        .checkin {
            position: relative;
            margin-top: -5%;
            top: -42px;
            left: -137px;
        }
        
        .inputIn {
            position: relative;
            left: 9%;
            width: 105%;
        }
        
        .inputOut {
            position: relative;
            left: 9%;
            width: 105%;
        }
        
        .checkout {
            position: relative;
            margin-top: -5%;
            top: -42px;
            left: -128px;
        }
        /* FOOTER CSS */
        
        .footer-clean {
            padding: 64px 2px;
            width: 100%;
            height: 80px;
            background-color: rgb(255, 255, 255);
            position: absolute;
        }
        
        .footer-clean .item.social>a {
            font-size: 13px;
            width: 40px;
            height: 39px;
            line-height: 40px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #ccc;
            margin-left: 10px;
            margin-top: -118px;
            color: inherit;
            opacity: 1.75;
        }
        
        .footer-clean .item.social>a:hover {
            opacity: 0.9;
        }
        
        @media (max-width:991px) {
            .footer-clean .item.social>a {
                margin-top: 40px;
            }
        }
        
        @media (max-width:767px) {
            .footer-clean .item.social>a {
                margin-top: 10px;
            }
        }
        
        .footer-clean .item.social {
            text-align: right;
            margin-right: 25%;
            margin-top: -29px;
        }
        
        .footer-text {
            text-align: left;
            margin-left: 28%;
            margin-top: -6%;
            font-size: 13px;
        }
        
        .footer-clean .copyright {
            margin-top: 14px;
            margin-bottom: 0;
            font-size: 13px;
            opacity: 0.6;
        }
        /* ROOMS CSS */
        
        #pages-title {
            position: relative;
            left: 4%;
            font-size: 24px;
            font-family: monospace;
        }
        
        .title-bg {
            width: 20%;
            height: 288px;
            background: rgb(212 197 165);
            position: relative;
            left: 19%;
            bottom: -33px;
        }
        
        .main-pic-pages {
            height: 286px;
            position: relative;
            left: 40%;
            margin: auto;
            margin-top: -254px;
        }
        
        #our-rooms {
            margin-left: 25%;
            font-size: 28px;
            margin-top: 3%;
        }
        
        .rooms-features {
            position: relative;
            left: 38%;
            top: -10px;
        }
        
        #rooms-features {
            text-align: center;
            font-size: 21px;
            font-family: system-ui;
        }
        /* card */
        
        .main-content {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        
        .text-striked {
            text-decoration: line-through;
        }
        
        .shadow {
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06) !important;
        }
        
        .card {
            box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
            max-width: 750px;
            height: 274px;
            margin: auto;
            text-align: left;
            font-family: inherit;
        }
        
        .title {
            color: grey;
            font-size: 18px;
        }
        
        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }
        
        button:hover,
        a:hover {
            opacity: 0.7;
        }
        
        .card_image {
            width: 44%;
            margin-left: 2%;
            /* left: 7px; */
            position: relative;
            margin-top: 7px;
            margin-bottom: 12px;
        }
        
        .more-details {
            height: 60%;
            width: 200px;
            background-color: #a59999;
            position: fixed!important;
            z-index: 1;
            top: 27%;
            overflow: auto;
        }
        
        .more-details-broder {
            border-right: 1px solid #2b1414!important;
            display: block;
            width: 70%;
            margin-left: -11%;
        }
        
        .card_title {
            display: inline;
            margin-left: 13px;
            position: absolute;
            font-size: 24px;
            margin-top: 22px;
        }
        
        .card_desc {
            display: inline;
            margin-left: 19px;
            position: relative;
            top: -46px;
        }
        
        .card-details {
            margin-left: 19px;
            position: relative;
            top: -46px;
            display: inline;
        }
        
        .rooms-details {
            display: inline;
            position: relative;
            top: -160px;
            left: 46%;
            font-size: 14px;
        }
        
        .rooms-icon {
            position: relative;
            top: -58%;
            left: 49%;
        }
        
        .icon {
            width: 1.8em;
        }
        
        #price-no {
            font-size: 19px;
            margin: 4% 1% 0% 1%;
            position: relative;
            display: inline;
            left: 83%;
            bottom: 172px;
        }
        
        .card_button {
            width: 111px;
            border: none;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            font-size: 18px;
            margin: 0% 1% 0% 1%;
            position: relative;
            display: inline;
            left: 66%;
            bottom: 140px;
        }
        
        .active,
        .card_button:hover {
            background-color: rgb(205 182 134);
        }
        
        .content {
            padding: 0 50px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }
        /*SITES CSS*/
        
        .site-image {
            width: 66%;
            position: relative;
            left: 264px;
            margin-bottom: 5%;
        }
        
        .site-images {
            width: 100%;
            margin-top: 35%;
            margin: 0;
        }
        
        .site-name {
            font-size: 20px;
            font-family: cursive;
            text-align: center;
            border-style: outset;
        }
        
        .site-desc {
            text-align: center;
            font-family: cursive;
        }
        
        .images-column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }
        
        #site-desc {
            text-align: center;
            margin-top: -58px;
            margin-bottom: 2%;
        }
        
        #site-title {
            text-align: center;
            background-color: #e1d7c0d1;
            margin-left: 20%;
            margin-right: 20%;
        }
        
        #site-links {
            text-align: center;
            text-decoration: underline;
            font-size: 16px;
            margin-left: 32%;
            color: -webkit-link;
        }
        /*CONTACT US CSS*/
        
        * {
            box-sizing: border-box;
        }
        /* Style inputs */
        
        input[type=text],
        select,
        textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }
        
        input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            cursor: pointer;
        }
        
        input[type=submit]:hover {
            background-color: #45a049;
        }
        /* Style the container/contact section */
        
        .contact-container {
            border-radius: 5px;
            background-color: #e1d7c0d1;
            padding: 10px;
        }
        
        #contact-us {
            width: 19%;
            position: relative;
            margin-top: -25%;
            left: 16%;
        }
        /* Create two columns that float next to eachother */
        
        .column {
            float: left;
            width: 50%;
            margin-top: 6px;
            padding: 20px;
        }
        
        .column-1 {
            float: left;
            width: 50%;
            margin-top: 6px;
            padding: 20px;
        }
        /* Clear floats after the columns */
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        /*>>>>>>>>>>>>>>>MOBILE CSS>>>>>>>>>>>>>>>>>>>>>>.*/
        
        @media only screen and (max-width: 600px) {
            /*CSS FOR MOBILR FOR ALL PAGES*/
            body {
                width: 166%;
                height: 102%;
                margin: auto;
                background-size: 100%;
            }
            .footer-text {
                text-align: left;
                margin-left: 14%;
                margin-top: -14%;
                font-size: 14px;
            }
            .footer-clean {
                padding: 64px 2px;
                width: 197%;
                height: 77px;
                background-color: rgb(255, 255, 255);
                position: absolute;
            }
            .top {
                background-color: rgb(255, 255, 255);
                width: 120%;
                height: 141px;
                box-shadow: inset 0 0 10px #b2b2b2e6;
            }
            .topnav {
                position: absolute;
                right: -58%;
                top: 97px;
                font-size: 18px;
            }
            .navItem {
                padding: 6px;
            }
            .hr-top {
                border-top: 1px solid rgb(141, 101, 15);
                width: 50%;
                position: relative;
                top: 4%;
                position: relative;
                left: 2%;
            }
            .web-name {
                position: relative;
                margin-top: -11%;
                font-family: cursive;
                font-size: 29px;
                padding-left: 6%;
                text-align: center;
                font-weight: bolder;
                color: #6d5115;
            }
            /*HOME PAGE CSS FOR MOBILE*/
            #house-img {
                width: 119%;
                height: 424px;
            }
            .about {
                text-align: center;
                position: relative;
                left: 9%;
                padding-top: 22px;
                margin-left: -3px;
            }
            .about img {
                padding-top: 9%;
            }
            .form {
                position: relative;
                margin-top: 25%;
                left: -15px;
            }
            /*site for mobilr*/
            .images-column {
                position: relative;
                left: 2%;
                width: 104.33%;
                padding: 8px;
                padding-left: 11%;
            }
            .site-image {
                width: 99%;
                position: relative;
                left: 9%;
                margin-bottom: 5%;
            }
            .site-name {
                font-size: 36px;
                font-family: cursive;
                text-align: center;
                border-style: outset;
            }
            .site-desc {
                text-align: center;
                font-family: auto;
            }
            #site-desc {
                text-align: center;
                margin-top: 5px;
                margin-left: 18%;
                margin-bottom: 4%;
            }
            #site-title {
                text-align: center;
                background-color: #e1d7c0d1;
                margin-left: 9%;
                margin-right: -8%;
            }
            /*contact us for mobile*/
            .contact-container {
                border-radius: 5px;
                background-color: #e1d7c0d1;
                padding: 10px;
                width: 120%;
            }
            #contact-us {
                width: 19%;
                position: relative;
                margin-top: 10%;
                left: 39%;
            }
            .column {
                float: left;
                width: 101%;
                margin-top: 6px;
                padding: 20px;
            }
            .column-1 {
                position: relative;
                width: 85%;
                left: 13%;
                margin-top: 6px;
                padding: 20px;
            }
            /*-------------------------------------------------------*/
            /*  ROOMS CSS FOR MOBILE*/
            .title-bg {
                width: 75%;
                height: 87px;
                background: rgb(212 197 165);
                position: relative;
                left: 17%;
                bottom: -21px;
            }
            .main-pic-pages {
                height: 234px;
                position: relative;
                left: 17%;
                width: 77%;
                margin: auto;
                margin-top: 5%;
            }
            .card {
                box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
                max-width: 745px;
                height: 342px;
                margin: auto;
                width: 83%;
                /* text-align: left; */
                font-family: inherit;
                position: relative;
                left: 9%;
            }
            .card_image {
                width: 66%;
                margin-left: 17%;
                position: relative;
                margin-top: 5%;
                margin-bottom: 12px;
            }
            .rooms-features {
                position: relative;
                left: 23%;
                top: -10px;
                margin-right: 53%;
            }
            .card_title {
                /* display: inline; */
                margin-left: -65%;
                position: absolute;
                font-size: 19px;
                margin-top: -1%;
            }
            .rooms-icon {
                position: relative;
                top: 15%;
                left: 52%;
                width: -12%;
                margin-right: 65%;
            }
            .rooms-details {
                display: inline;
                position: relative;
                top: -11%;
                left: 10%;
                font-size: 14px;
            }
            .card_button {
                width: 73px;
                border: none;
                padding: 8px;
                color: white;
                background-color: #000;
                text-align: center;
                cursor: pointer;
                font-size: 18px;
                margin: 0% 1% 0% 1%;
                position: relative;
                display: inline;
                left: 67%;
                bottom: 67px;
            }
            #price-no {
                font-size: 13px;
                margin: 6% 1% 0% 1%;
                position: relative;
                display: inline;
                left: 84%;
                bottom: 30%;
            }
            .logo {
                height: 114px;
                padding-left: 62px;
                padding-top: 30px;
                position: relative;
                top: 13px;
            }
            /*FAQ MBILE*/
            .accordion {
                background-color: #e1d7c0d1;
                color: #444;
                cursor: pointer;
                padding: 18px;
                width: 121%;
                border: none;
                height: 110px;
                text-align: center;
                outline: none;
                font-size: 15px;
                transition: 0.4s;
            }
            .container-reviews {
                order: 1px solid #626262;
                background-color: #9b885f6e;
                border-radius: 5px;
                padding: 17px;
                margin: 14px 0;
                width: 95%;
                margin-left: 10%;
            }
            #reviews-heading {
                text-align: center;
                margin-left: 15%;
                border-style: outset;
                margin-top: 15%;
            }
        }
        
        #reviews-heading {
            text-align: center;
            /* margin-left: -1%; */
            border-style: outset;
            margin-top: 2%;
        }